@use "../global" as g;

/*!
page > contact
------------------------------
*/
.page-contact {
  margin-top: 64px;
  margin-bottom: 64px;
  @include g.mq() {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.page-contact-content {
  margin-top: 40px;
  @include g.mq() {
    margin-top: 48px;
  }
}
