@use "../../global" as g;

/*!
page > column > column-archive
------------------------------
*/
.column-category-nav {
  margin-top: 40px;
  @include g.mq() {
    margin-top: 48px;
  }
}
.column-category-list {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 5%;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include g.mq(sm) {
    max-width: 800px;
    margin-inline: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 3%;
  }
}

.column-category-btn {
  width: auto;
  flex-shrink: 0; // 縮み防止

  /* アクティブ時のスタイル */
  &.is-active a {
    background-color: var(--primary-green);
    color: var(--white);
    border-color: var(--primary-green);

    &::after {
      border-color: var(--white);
    }
  }
}

.column-category-btn a {
  display: block;
  white-space: nowrap;
  width: 100%;
  font-weight: 700;
  color: var(--primary-green);
  padding: 4px 16px 4px 20px;
  border-radius: 50vh;
  border: 2px solid var(--primary-green);
  background-color: var(--primary-light-green);
  display: flex;
  align-items: center;
  gap: 11px;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-left: 2px solid var(--primary-green);
    border-bottom: 2px solid var(--primary-green);
    transform: rotate(-45deg);
    transition: border-color 0.3s ease;
  }

  &:hover {
    color: var(--white);
    background-color: var(--primary-green);

    &::after {
      border-color: var(--white);
    }
  }
}

// コラムカード一覧
.column-archive-container {
  margin-top: 40px;
}
.column-archive-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 24px;
  @include g.mq() {
    gap: 48px 24px;
  }
}
