@use "../../global" as g;

/*!
page > column > column-archive
------------------------------
*/
.column-category-nav {
  margin-top: 40px;
  @include g.mq() {
    margin-top: 48px;
  }
}
.column-category-list {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 5%;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include g.mq(sm) {
    max-width: 800px;
    margin-inline: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 3%;
  }
}

// コラムカード一覧
.column-archive-container {
  margin-top: 40px;
}
.column-archive-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 24px;
  @include g.mq() {
    gap: 48px 24px;
  }
}
