@use "../../global" as g;

/*!
page > column > column-single
------------------------------
*/
.column-single {
  .c-card-column-badge {
    font-size: 16px;
    @include g.mq() {
      font-size: 18px;
    }
  }

  .c-card-column-title {
    font-size: 26px;
    line-height: 1.5;
    margin-bottom: 24px;
    // 一覧カード（_card.scss）の２行clampを無効化
    display: block;
    line-clamp: unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: visible;
    min-height: 0;
    @include g.mq() {
      font-size: 34px;
    }
  }

  .column-single-image img {
    border-radius: 12px;
    overflow: hidden;
  }

  .c-card-column-date-container {
    margin-top: 16px;
    gap: 18px;
  }

  .c-card-column-date,
  .c-card-column-update {
    font-size: 16px;
    @include g.mq() {
      font-size: 18px;
    }
  }

  .c-card-column-date::before,
  .c-card-column-update::before {
    width: 20px;
    height: 20px;
  }
}

/* --------------------------------
  * 本文コンテナ
  * --------------------------------
*/
.entry-content {
  margin-top: 24px; // 本文コンテナ上部の余白

  > :first-child {
    margin-top: 0; // 最初の子要素の上部余白をリセット
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--primary-green);
    border-radius: 8px;
    margin-top: 48px;
    padding: 10px 18px;
    @include g.mq() {
      font-size: 26px;
    }
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    margin: 24px 16px 0 0;
    padding: 4px 0;
    display: flex;
    gap: 18px;
    @include g.mq() {
      font-size: 24px;
    }
    &::before {
      content: "";
      display: block;
      flex-shrink: 0; // 縮み防止
      align-self: stretch;
      width: 6px;
      background-color: var(--primary-green);
      border-radius: 50vw;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    margin-top: 24px;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    @include g.mq() {
      font-size: 20px;
    }

    &::after {
      content: "";
      display: block;
      flex-shrink: 0; // 縮み防止
      align-self: stretch;
      height: 4px;
      background-color: var(--primary-green);
      border-radius: 50vh;
    }
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    margin-top: 24px;
    @include g.mq() {
      font-size: 18px;
    }
  }

  a {
    color: var(--link);
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
  }

  ul {
    font-size: 16px;
    margin-top: 24px;
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 1.6em;
    @include g.mq() {
      font-size: 18px;
    }
    li::marker {
      color: var(--primary-green);
    }
  }

  ol {
    font-size: 16px;
    margin-top: 24px;
    list-style-position: outside;
    list-style-type: decimal-leading-zero;
    padding-left: 1.8em;
    @include g.mq() {
      font-size: 18px;
    }
    li::marker {
      color: var(--primary-green);
    }
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: unset !important; // ユーザ―のご設定防止
    object-fit: unset !important; // ユーザ―のご設定防止
    margin-top: 24px;
  }

  strong {
    font-weight: 700;
    color: var(--primary-green);
  }

  // ボックスコンテナ
  .smb-box {
    --smb-box--border-width: 0px !important;
    --smb-box--padding: 0;
    margin-top: 24px;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--primary-light-green);

    h3 {
      display: block;
      width: 100%;
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      color: var(--white);
      background-color: var(--primary-green);
      line-height: 1.5;
      padding: 12px 24px;
      @include g.mq() {
        font-size: 20px;
      }
    }

    h3::before {
      width: 0;
    }

    ul {
      margin-top: 0;
      padding: 16px 16px 16px 38px;
      @include g.mq() {
        padding: 16px 20px 16px 48px;
      }
    }
  }

  // 目次_Easy Table of Contents
  #ez-toc-container {
    // プラグインのデフォルトをリセット
    background: none;
    border: none;
    border-radius: 8px;
    padding: 0;
    margin-top: 48px;
    box-shadow: none;
    display: block;
    width: 100%;

    // タイトル部分
    .ez-toc-title-container {
      background-color: var(--primary-green);
      border-radius: 6px 6px 0 0;
      padding: 8px 24px 5px;
    }

    .ez-toc-title {
      color: var(--white);
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 0;
      @include g.mq() {
        font-size: 20px;
      }
      &::before {
        content: "";
        display: block;
        mask-image: url(../img/common/icon-toc.svg);
        mask-size: cover;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
        background-color: var(--white);
        width: 27px;
        height: 27px;
      }
    }

    // リスト部分
    nav {
      background-color: var(--primary-light-green);
      border-radius: 0 0 6px 6px;
      padding: 16px 24px 20px 24px;
      border: 3px solid var(--primary-green);
    }

    ul.ez-toc-list {
      margin: 0;
      padding: 0;
      list-style-type: disc;
      list-style-position: outside;
      font-size: 16px;
      @include g.mq() {
        font-size: 18px;
      }

      li {
        margin-top: 0;
        padding: 4px 0;
        @include g.mq() {
          padding: 4px 20px 4px 0;
        }

        a {
          color: var(--black);
          display: flex;
          align-items: center;
          gap: 12px;
          text-decoration: none;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.6;
          letter-spacing: 0.025em;

          &:hover {
            opacity: 0.7;
          }

          // バレット
          &::before {
            content: "";
            display: block;
            flex-shrink: 0;
            width: 8px;
            height: 8px;
            background-color: var(--primary-green);
            border-radius: 50vh;
            margin-right: 0;
            counter-increment: none;
          }
        }
      }
    }
  }

  // 引用
  blockquote {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 9px;
      right: 6px;
      width: 60px;
      height: 42px;
      mask-image: url("../img/common/css_icon-blockquote.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--black);
    }
    .has-background {
      padding: 16px;
      border-radius: 9px;
      border: 1px solid var(--border);
      background-color: var(--gray);
    }
    p {
      line-height: 1.65;
      font-size: 16px;
      @include g.mq() {
        font-size: 18px;
      }
    }
    em {
      font-style: italic;
      font-weight: 500;
    }
  }

  //表
  .wp-block-table {
    margin-top: 24px;
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    thead {
      border-bottom: none;
    }

    tfoot {
      border-top: none;
    }

    table {
      min-width: 500px;

      th {
        background-color: var(--gray);
        font-weight: 700;
      }

      tfoot td {
        background-color: var(--gray);
        font-weight: 700;
      }

      td {
        background-color: var(--white);
      }

      th,
      td {
        border: 1px solid var(--border);
        padding: 8px;
        font-size: 16px;
        @include g.mq() {
          padding: 9px;
          font-size: 18px;
        }
      }
    }

    .wp-element-caption {
      font-size: 16px;
      font-style: italic;
      font-weight: 500;
      opacity: 0.6;
      text-align: center;
      margin-top: 4px;
      @include g.mq() {
        font-size: 18px;
      }
    }
  }

  // サマリー_アコーディオン
  details {
    margin-top: 24px;
    summary {
      width: fit-content;
      font-size: 16px;
      font-weight: 700;
      padding: 4px 12px;
      border-radius: 4px;
      background-color: var(--primary-green);
      color: var(--white);
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;

      &::before {
        content: "";
        display: block;
        width: 10px;
        height: 12px;
        background-image: url("../img/common/icon-arrow-summary.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.3s ease;
      }
    }

    &[open] summary::before {
      transform: rotate(90deg);
    }

    p {
      margin: 12px 10px 0;
    }
  }

  // 外部リンクボタン
  .wp-block-button {
    margin-top: 24px;
    .wp-block-button__link {
      background-color: var(--accent);
      color: var(--white);
      padding: 12px 24px;
      font-size: 18px;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 14px;
      @include g.mq() {
        font-size: 20px;
      }

      &::after {
        content: "";
        display: block;
        width: 11px;
        height: 11px;
        background-image: url("../img/common/icon-arrow-right.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  // 埋め込みコンテンツ_Twitter
  .wp-block-embed {
    margin-top: 24px;

    &.is-provider-twitter {
      max-width: 500px;
      margin-inline: auto;
    }
  }

  // 埋め込みコンテンツ_YouTube
  .wp-block-embed.is-provider-youtube {
    width: 100%;
    margin-inline: auto;

    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }
  }

  // 吹き出し_Snow Monkey Blocks_balloon
  // プラグイン：SMBは640pxがブレイクポイント
  .smb-balloon {
    --smb-balloon--border-color: var(--border) !important;
    --smb-balloon--border-width: 1px !important;
    margin-top: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
    @media screen and (min-width: 640px) {
      align-items: start;
      gap: 40px;
    }

    .smb-balloon__person {
      flex-direction: column;
      @media screen and (min-width: 640px) {
        margin-right: 0;
      }
      .smb-balloon__figure {
        width: 70px;
        height: 70px;
        margin-top: 4px;
        @media screen and (min-width: 640px) {
          margin-top: 0;
          width: 90px;
          height: 90px;
        }
      }
    }

    .smb-balloon__body {
      padding: 22px 21px 21px 17px;
      border: 1px solid var(--border);
      border-radius: 8px;
      @media screen and (min-width: 640px) {
        padding: 21px 29px 18px 23px;
        margin-top: 8px;
      }
    }

    .smb-balloon__body::before,
    .smb-balloon__body::after {
      border-color: transparent !important;
    }

    .smb-balloon__body::before {
      border-right-color: var(--smb-balloon--border-color) !important;
      border-width: calc(11px + var(--smb-balloon--border-width))
        calc(20px + var(--smb-balloon--border-width) * 2)
        calc(11px + var(--smb-balloon--border-width)) 0 !important;
      left: calc(-20px - var(--smb-balloon--border-width) * 2) !important;
      top: calc(32px - var(--smb-balloon--border-width)) !important;
    }

    .smb-balloon__body::after {
      border-right-color: var(--smb-balloon--background-color) !important;
      border-width: 11px 20px 11px 0 !important;
      left: -20px !important;
      top: 32px !important;
    }

    img {
      margin-top: 0;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.65;
      @media screen and (min-width: 640px) {
        font-size: 18px;
      }
    }
  }
}
