@use "../../global" as g;

/*!
page > column > column-single
------------------------------
*/
.entry-content {
  margin-top: 24px; // 本文コンテナ上部の余白

  > :first-child {
    margin-top: 0; // 最初の子要素の上部余白をリセット
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--primary-green);
    border-radius: 8px;
    margin-top: 48px;
    padding: 10px 16px;
    @include g.mq() {
      font-size: 26px;
    }
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    margin: 24px 16px 0 0;
    padding: 4px 0;
    display: flex;
    gap: 18px;
    @include g.mq() {
      font-size: 24px;
    }
    &::before {
      content: "";
      display: block;
      flex-shrink: 0; // 縮み防止
      align-self: stretch;
      width: 6px;
      background-color: var(--primary-green);
      border-radius: 50vw;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    margin-top: 24px;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    @include g.mq() {
      font-size: 20px;
    }

    &::after {
      content: "";
      display: block;
      flex-shrink: 0; // 縮み防止
      align-self: stretch;
      height: 4px;
      background-color: var(--primary-green);
      border-radius: 50vh;
    }
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    margin-top: 24px;
    @include g.mq() {
      font-size: 18px;
    }
  }

  ul {
    font-size: 16px;
    margin-top: 24px;
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 1.6em;
    @include g.mq() {
      font-size: 18px;
    }
    li::marker {
      color: var(--primary-green);
    }
  }

  ol {
    font-size: 16px;
    margin-top: 24px;
    list-style-position: outside;
    list-style-type: decimal-leading-zero;
    padding-left: 1.8em;
    @include g.mq() {
      font-size: 18px;
    }
    li::marker {
      color: var(--primary-green);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 24px;
  }

  // ボックスコンテナ
  .smb-box {
    --smb-box--border-width: 0px !important;
    --smb-box--padding: 0;
    margin-top: 24px;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--primary-light-green);

    h3 {
      display: block;
      width: 100%;
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      color: var(--white);
      background-color: var(--primary-green);
      line-height: 1.5;
      padding: 12px 24px;
      @include g.mq() {
        font-size: 20px;
      }
    }

    h3::before {
      width: 0;
    }

    ul {
      margin-top: 0;
      padding: 16px 16px 16px 38px;
      @include g.mq() {
        padding: 16px 20px 16px 48px;
      }
    }
  }

  strong {
    font-weight: 700;
  }

  // 目次ボックスコンテナ
  .smb-box.is-style-toc {
    border: 2px solid var(--primary-green);

    h3 {
      display: flex;
      align-items: center;
      padding: 8px 24px;
      gap: 12px;
    }

    h3::before {
      content: "";
      display: block;
      mask-image: url(../img/common/icon-toc.svg);
      mask-size: cover;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
      background-color: var(--white);
      width: 27px;
      height: 27px;
    }
  }

  // 引用
  blockquote {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 9px;
      right: 6px;
      width: 60px;
      height: 42px;
      mask-image: url("../img/common/css_icon-blockquote.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--black);
    }
    .has-background {
      padding: 16px;
      border-radius: 9px;
      border: 1px solid var(--border);
      background-color: var(--gray);
    }
    p {
      line-height: 1.65;
      font-size: 16px;
      @include g.mq() {
        font-size: 18px;
      }
    }
    em {
      font-style: italic;
      font-weight: 500;
    }
  }

  //表
  .wp-block-table {
    margin-top: 24px;
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    thead {
      border-bottom: none;
    }

    tfoot {
      border-top: none;
    }

    table {
      min-width: 500px;

      th {
        background-color: var(--gray);
        font-weight: 700;
      }

      td {
        background-color: var(--white);
      }

      th,
      td {
        border: 1px solid var(--border);
        padding: 8px;
        font-size: 16px;
        @include g.mq() {
          padding: 9px;
          font-size: 18px;
        }
      }
    }

    .wp-element-caption {
      font-size: 16px;
      font-style: italic;
      font-weight: 500;
      opacity: 0.6;
      text-align: center;
      margin-top: 4px;
      @include g.mq() {
        font-size: 18px;
      }
    }
  }
  // サマリー_アコーディオン
  details {
    margin-top: 28px;
    summary {
      width: fit-content;
      font-size: 16px;
      font-weight: 700;
      padding: 4px 12px;
      border-radius: 4px;
      background-color: var(--primary-green);
      color: var(--white);
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;

      &::before {
        content: "";
        display: block;
        width: 10px;
        height: 12px;
        background-image: url("../img/common/icon-arrow-summary.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.3s ease;
      }
    }

    &[open] summary::before {
      transform: rotate(90deg);
    }

    p {
      margin: 12px 10px 0;
    }
  }

  // 外部リンクボタン
  .wp-block-button {
    margin-top: 24px;
    .wp-block-button__link {
      background-color: var(--accent);
      padding: 12px 24px;
      font-size: 18px;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 14px;
      @include g.mq() {
        font-size: 20px;
      }

      &::after {
        content: "";
        display: block;
        width: 11px;
        height: 11px;
        background-image: url("../img/common/icon-arrow-right.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  // 埋め込みコンテンツ_Twitter
  .wp-block-embed {
    margin-top: 24px;

    &.is-provider-twitter {
      max-width: 500px;
      margin-inline: auto;
    }
  }

  // 埋め込みコンテンツ_YouTube
  .wp-block-embed.is-provider-youtube {
    width: 100%;
    margin-inline: auto;

    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }
  }

  // 吹き出し_Snow Monkey Blocks_balloon
  .smb-balloon {
    --smb-balloon--border-color: var(--border) !important;
    --smb-balloon--border-width: 1px !important;
    --smb-balloon--gap: 32px !important;
    margin-top: 24px;
    @include g.mq() {
      --smb-balloon--gap: 40px !important;
    }
    align-items: center !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;

    .smb-balloon__person {
      flex-direction: column;
      margin: 0 var(--smb-balloon--gap) 0 0 !important;

      .smb-balloon__name {
        margin: 5px 0 0;
      }
    }
    .smb-balloon__body {
      padding: 22px 21px 21px 17px;
      border-radius: 8px;
      @include g.mq() {
        padding: 21px 29px 18px 23px;
      }
    }

    .smb-balloon__body::before,
    .smb-balloon__body::after {
      border-color: transparent !important;
    }

    .smb-balloon__body::before {
      border-right-color: var(--smb-balloon--border-color) !important;
      border-width: calc(11px + var(--smb-balloon--border-width))
        calc(20px + var(--smb-balloon--border-width) * 2)
        calc(11px + var(--smb-balloon--border-width)) 0 !important;
      left: calc(-20px - var(--smb-balloon--border-width) * 2) !important;
      top: calc(50% - 11px - var(--smb-balloon--border-width)) !important;
    }

    .smb-balloon__body::after {
      border-right-color: var(--smb-balloon--background-color) !important;
      border-width: 11px 20px 11px 0 !important;
      left: -20px !important;
      top: calc(50% - 11px) !important;
    }

    img {
      margin-top: 0;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.65;
      @include g.mq() {
        font-size: 18px;
      }
    }
  }
}
