/*!
global > color
------------------------------
*/
:root {
    --font-base: #333835;
    --primary-green: #46B06B;
    --black: #313331;
    --white: #FFFFFF;
    --gray: #F7F7F7;
    --border-light: #EBEEF4;
    --border: #D8DADE;
    --dummy-image: #A0A0A0;
    --font-light: #6B6C6C;
    --accent: #ED8F41;
    --primary-light-green: #E2F6E9;
    --favorite: #E2BD43;
    --red: #E74848;
    --slider-dot: #C7C7C7;
    --primary-extra-light: #F2F8F4;
    --link: #398AE1;
    --rank-1: #E2BD43;
    --rank-2: #A7A9AC;
    --rank-3: #CD7F32;
    --rank-other: #313331;
    --bg-component: #D0D0D0;
  }