@use "../global" as g;

/*!
utility > hover
------------------------------
*/

.u-hover-white {
  &:hover {
    background-color: var(--white);
    color: var(--primary-green);

    &::before {
      background-color: var(--primary-green);
    }
  }
}
