@use "../global" as g;

/*!
utility > utility
------------------------------
*/
// 隠しテキスト
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

.u-text--green {
  color: var(--primary-green);
  font-weight: 700;
}

// ページ余白_アーカイブページ
.u-mtb-archive {
  margin: 24px 0 64px;
}

// ページ余白_固定ページ(コラ・プライバシーポリシーページ)
.u-mtb-page {
  margin: 64px 0;
  @include g.mq() {
    margin: 80px 0;
  }
}

.is-hash-loading {
  visibility: hidden;
}

// reCAPTCHAバッチの非表示
.grecaptcha-badge {
  visibility: hidden;
}
