@use "../../global" as g;

/*!
page > recruit-single > recruit-single
------------------------------
*/

.recruit-single-header {
  width: 100%;
}

.recruit-single-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.55;
  @include g.mq() {
    font-size: 32px;
  }
}

.recruit-single-header-nav-container {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 24px;

  @include g.mq(lg) {
    align-items: center;
    gap: 0;
    margin-top: 28px;
  }
}

.recruit-single-header-nav-list {
  width: 100%;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  @include g.mq() {
    gap: 14px;
  }
}

.recruit-single-section {
  margin-top: 64px;
  display: grid;
  gap: 64px;
}

.recruit-single-section-container {
  display: grid;
  gap: 24px;
  @include g.mq(lg) {
    gap: 32px;
  }
}

.recruit-single-section-title {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  gap: 12px;
  @include g.mq(lg) {
    font-size: 28px;
  }

  &::before {
    content: "";
    display: block;
    width: 6px;
    align-self: stretch;
    background-color: var(--primary-green);
    border-radius: 50vw;
  }
}

.recruit-single-contents {
  display: grid;
  gap: 10px;

  @include g.mq(lg) {
    gap: 0;
    border: 1px solid var(--border);
    border-radius: 12px;
    overflow: hidden;
  }
}

.recruit-single-content-item {
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 8px;
  display: grid;
  overflow: hidden;
  @include g.mq(lg) {
    border-radius: 0;
    border: none;
    grid-template-columns: 200px 1fr;
    &:not(:last-child) {
      border-bottom: 1px solid var(--border);
    }
  }
}

.recruit-single-content-title,
.recruit-single-content-value {
  padding: 10px 20px;
  @include g.mq(lg) {
    padding: 12px 20px;
  }
}

.recruit-single-content-title {
  background-color: var(--gray);
  font-weight: 700;
  border-bottom: 1px solid var(--border);
  @include g.mq(lg) {
    border-right: 1px solid var(--border);
    border-bottom: none;
  }
}

.recruit-single-content-value {
  ul {
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 1.6em;
  }
}
