@use "../global" as g;

/*!
layout > footer
------------------------------
*/
.l-footer {
  background-color: var(--black);
}

.l-footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  @include g.mq() {
    flex-direction: row;
  }
}

.l-footer-nav {
  display: flex;
  width: 100%;
}

.l-footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 12px;
  align-items: center;
  justify-content: center;
}

.l-footer-nav-item:not(:last-child)::after {
  content: "|";
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  padding-left: 12px;
}

.l-footer-nav-item a {
  color: var(--white);
  font-weight: 700;
  opacity: 0.8;
  position: relative;
}

.l-footer-copyright {
  margin-top: 12px;
  color: var(--white);
  opacity: 0.8;
  font-weight: 700;
  white-space: nowrap;
  @include g.mq() {
    margin-top: 0;
  }
}
