@use "../global" as g;

/*!
layout > footer
------------------------------
*/
.l-footer {
  position: sticky; // ページの最下部に固定（スティッキーフッター）
  top: 100vh; // ページの最下部に固定（スティッキーフッター）
  background-color: var(--black);
}

.l-footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 86px;

  @include g.mq() {
    padding: 24px 0;
  }

  @include g.mq(lg) {
    flex-direction: row;
    gap: 20px;
  }
}

.l-footer-nav {
  display: flex;
}

.l-footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 12px;
  align-items: center;
  justify-content: center;
  @include g.mq(lg) {
    gap: 12px;
  }
}

.l-footer-nav-item:not(:last-child)::after {
  content: "|";
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  padding-left: 12px;
}

.l-footer-nav-item a {
  display: inline-block;
  vertical-align: middle;
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
  @include g.hover-underline(var(--white));
}

.l-footer-copyright {
  margin-top: 12px;
  color: var(--white);
  opacity: 0.8;
  font-weight: 700;
  white-space: nowrap;
  @include g.mq(lg) {
    margin-top: 0;
  }
}
