@use "../global" as g;

/*!
component > breadcrumb
------------------------------
*/
.c-breadcrumb-container {
  background-color: var(--font-base);
  width: 100%;
  padding: 8px 0 8px;
}

.c-breadcrumb-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px 10px;
  color: var(--white);
  font-size: 14px;

  // 各パンくず項目
  span[property="itemListElement"] {
    display: inline-flex;
    align-items: center;

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 9px;
      height: 9px;
      background-image: url("../img/common/icon-arrow-right.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 10px;
    }
  }

  // リンク
  a {
    color: var(--white);
    @include g.hover-underline(var(--white));
  }

  // 現在のページ
  .current-item {
    pointer-events: none;
    text-decoration: none;
  }

  // ホームアイコン
  .home {
    display: inline-flex;
    align-items: center;
  }

  .home::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    mask-image: url("../img/common/icon-home.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--white);
  }
}
