@use "../global" as g;

/*!
component > card
------------------------------
*/
/*
 * トップページ用求人カード
 */

.c-card-top-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 12px;
  width: 340px;
  background-color: var(--white);
  border: 1px solid var(--border-light);
  @include g.mq() {
    width: 383px;
  }
}

.c-card-top-image {
  width: 100%;
  aspect-ratio: 340 / 183;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.c-card-top-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-card-top-content {
  padding: 24px;
}
.c-card-top-header {
  display: flex;
  place-items: center;
  gap: 12px;
}

.c-card-top-company-logo {
  width: 45px;
  aspect-ratio: 1 / 1;
  border-radius: 6px;
}
.c-card-top-company {
  font-size: 14px;
  font-weight: 700;
}

.c-card-top-copy {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 16px;
  @include g.mq() {
    margin-top: 8px;
  }
}

.c-card-top-tags {
  margin-top: 8px;
  display: flex;
  gap: 2px 18px;
  flex-wrap: wrap;
}

.c-card-top-tags li a {
  font-weight: 700;
  color: var(--primary-green);
}

// カードリンク_ベース
.c-card-link-container {
  padding: 16px 17px;
  border-top: 1px solid var(--border-light);
  @include g.mq() {
    padding: 15px 16px 16px;
  }
}
.c-card-link {
  display: flex;
  gap: 6px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 12px 18px 12px 12px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  padding-left: 0.025em;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  @include g.mq() {
    font-size: 18px;
  }
}

.c-card-link:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.3s ease;
}

// カードリンク_view-more
.c-card-link-view-more {
  border: 1px solid var(--primary-green);
  color: var(--primary-green);

  &::before {
    mask-image: url("../img/common/icon-detail.svg");
    background-color: var(--primary-green);
  }

  &:hover {
    background-color: var(--hover-light-green);
    border-color: var(--hover-light-green);
    color: var(--white);
    transition:
      color 0.3s ease,
      background-color 0.3s ease,
      border-color 0.3s ease;
    &::before {
      background-color: var(--white);
    }
  }
}

// カードリンク_apply
.c-card-link-apply {
  border: 1px solid var(--primary-green);
  background-color: var(--primary-green);
  color: var(--white);

  &::before {
    mask-image: url("../img/common/icon-apply.svg");
    background-color: var(--white);
  }

  &:hover {
    background-color: var(--primary-light-green);
    color: var(--primary-green);
    border-color: var(--primary-green);
    transition:
      color 0.3s ease,
      background-color 0.3s ease,
      border-color 0.3s ease;
    &::before {
      background-color: var(--primary-green);
    }
  }
}

// カードリンク_favorite
.c-card-link-favorite {
  border: 1px solid var(--favorite);
  color: var(--favorite);

  &::before {
    mask-image: url("../img/common/header/icon-favorite.svg");
    background-color: var(--favorite);
  }

  &:hover {
    background-color: var(--favorite);
    color: var(--white);
    &::before {
      background-color: var(--white);
    }
  }
}

/*
 * カード用_タイムスタンプ
 */
.c-card-column-date-container {
  display: flex;
  gap: 16px;
}
.c-card-column-date,
.c-card-column-update {
  font-weight: 500;
  opacity: 0.6;
  display: flex;
  align-items: center;
  gap: 4px;
}

.c-card-column-date::before,
.c-card-column-update::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
}

.c-card-column-date::before {
  background-image: url("../img/common/icon-publish.svg");
}

.c-card-column-update::before {
  background-image: url("../img/common/icon-update.svg");
}

/*
  * カード用_カテゴリバッジ
 */
.c-card-column-badge {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--primary-green);
  padding: 2px 12px;
  border-radius: 4px;
}

/**
* トップページ用_コラムカード
*/
.c-card-top-column-container {
  display: grid;
  background-color: var(--white);
  border-radius: 12px;
  width: 100%;
  @include g.mq() {
    grid-template-columns: auto 1fr;
  }
}
.c-card-top-column-image {
  width: 100%;
  aspect-ratio: 342 / 192;
  border-radius: 12px 12px 0 12px;
  overflow: hidden;
  @include g.mq() {
    max-height: 153px;
    width: auto;
    aspect-ratio: 160 / 153;
    border-radius: 12px 0 0 12px;
  }
}
.c-card-top-column-content {
  padding: 24px 16px;
  width: 100%;
  min-width: 0;
  overflow: hidden;
}
.c-card-top-column-title {
  font-size: 18px;
  font-weight: 700;
  white-space: normal;
  margin: 8px 0 12px;
  @include g.mq() {
    font-size: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

/*
 * 下層ページ用求人カード
 */
.c-card-archive-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 11px;
  width: 340px;
  background-color: var(--white);
  border: 1px solid var(--border-light);
  @include g.mq() {
    max-width: 774px;
  }
}

.c-card-archive-image {
  width: 100%;
  aspect-ratio: 340 / 132;
  border-radius: 11px 11px 0 0;
  overflow: hidden;
}

.c-card-archive-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-card-archive-content {
  padding: 24px 16px;
}
.c-card-archive-header {
  display: flex;
  place-items: center;
  gap: 12px;
}

.c-card-archive-company-logo {
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 6px;
}
.c-card-archive-company {
  font-size: 16px;
  font-weight: 700;
  @include g.mq() {
    font-size: 18px;
  }
}

.c-card-archive-copy {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 16px;
  @include g.mq() {
    margin-top: 8px;
    font-size: 28px;
  }
}

.c-card-archive-tags {
  margin-top: 16px;
  display: flex;
  gap: 2px 20px;
  flex-wrap: wrap;
  @include g.mq() {
    font-size: 18px;
  }
}

.c-card-archive-tags li a {
  font-weight: 700;
  color: var(--primary-green);
}

// カードリンク_recruitコンテナ
.c-card-link-recruit-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include g.mq() {
    flex-direction: row;
  }
}
