@use "../global" as g;

/*!
component > pagenation
------------------------------
*/

.navigation.pagination {
  margin-top: 64px;

  @include g.mq() {
    margin-top: 80px;
  }

  .nav-links {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .page-numbers {
    width: 32px;
    height: 32px;
    background-color: var(--white);
    border-radius: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include g.hover-unfill-swap(
      $bg: var(--primary-green),
      $text: var(--white),
      $before-selector: null
    );

    @include g.mq() {
      width: 40px;
      height: 40px;
    }
  }

  .prev.page-numbers,
  .next.page-numbers {
    @include g.hover-unfill-swap(
      $bg: var(--primary-green),
      $text: var(--white),
      $before-bg: var(--white)
    );

    &::before {
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      mask-image: url("../img/common/icon-arrow-right.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--font-base);
      transition: background-color 0.3s ease;
    }
  }

  .prev.page-numbers {
    &::before {
      transform: rotate(180deg);
    }
  }

  .page-numbers.current {
    background-color: var(--primary-green);
    color: var(--white);
  }

  .page-numbers.dots {
    background-color: transparent;
    background-image: url("../img/common/icon-dots.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
