@use "../global" as g;

/*!
component > archive-title
------------------------------
*/
.c-archive-title-container,
.c-top-taxonomy-title-container,
.c-top-column-title-container {
  width: 100%;
  padding: 12px 24px;
  background-color: var(--primary-green);
  border-radius: 6px;
}

.c-archive-title,
.c-top-taxonomy-title,
.c-top-column-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  @include g.mq() {
    font-size: 28px;
  }
}

/*!
component > page-title_(column/privacy/404)
------------------------------
*/

.c-page-title-container {
  display: block;
  text-align: center;
  margin-inline: auto;
}

.c-page-title {
  font-size: clamp(1.5rem, 1.321rem + 0.755vw, 2rem);
  font-weight: 700;
  display: grid;
  place-items: center;
  gap: 12px;
}

.c-page-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    var(--primary-green) 50%,
    var(--accent) 50%
  );
}

// トップページ_スライダー用タイトル
.c-slider-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-slider-title {
  font-size: 22px;
  font-weight: 700;
  @include g.mq() {
    font-size: 26px;
  }
}
.c-slider-link {
  font-size: clamp(1rem, 0.955rem + 0.189vw, 1.125rem);
  font-weight: 700;
  color: var(--primary-green);
  display: flex;
  align-items: center;
  gap: 3px;
  transition: color 0.3s ease;

  &::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    mask-image: url("../img/common/icon-arrow.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--primary-green);
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;
  }

  &:hover {
    color: var(--hover-dark-green);

    &::after {
      transform: translateX(5px);
      background-color: var(--hover-dark-green);
    }
  }
}
