@use "../../global" as g;

/*!
page > top > top-column
------------------------------
*/
.top-column-cards-wrapper {
  display: grid;
  gap: 24px;
  margin-top: 24px;
  @include g.mq() {
    margin-top: 32px;
    gap: 8px;
  }
}
