@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/
.top-kv {
  background-image: url("../img/top/top-kv-bg-sp@2x.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  @include g.mq() {
    background-image: url("../img/top/top-kv-bg@2x.webp");
  }
}

.top-kv-container {
  padding-top: 44px;
  @include g.mq() {
    padding-top: 80px;
  }
}
.top-kv-text-content {
  display: grid;
  gap: 12px;
  @include g.mq() {
    gap: 19px;
  }
}
.top-kv-emblem {
  width: 199px;
  aspect-ratio: 199 / 59;
  @include g.mq() {
    width: 232px;
  }
}
.top-kv-title {
}
.top-kv-title-main {
}
.top-kv-text-item {
}
.top-kv-image {
  width: 211px;
  aspect-ratio: 211 / 413;
  position: absolute;
  bottom: 0;
  right: 0;
  @include g.mq() {
    width: 458px;
    aspect-ratio: 1 / 1;
    right: 159px;
  }
}
