@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/
.top-kv {
  background-image: url("../img/top/top-kv-bg-sp@2x.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  @include g.mq() {
    background-image: url("../img/top/top-kv-bg@2x.webp");
  }
}

.top-kv-container {
  padding: 44px 0 93px;
  @include g.mq() {
    padding: 80px 0;
  }
}
.top-kv-text-content {
  display: grid;
  gap: 12px;
  position: relative;
  z-index: var(--z-index-contents);
}

// エンブレム
.top-kv-emblem {
  width: 199px;
  aspect-ratio: 199 / 59;
  @include g.mq() {
    width: 232px;
    aspect-ratio: 233 / 76;
  }
}

// タイトル
.top-kv-title {
  // font-size: 32px;
  font-size: clamp(2rem, 1.529rem + 1.981vw, 3.313rem);
  font-weight: 700;
  line-height: 1.4;
}

.top-kv-title strong {
  display: block;
  padding-bottom: 2px;

  @include g.mq(sm-md) {
    display: inline;
    padding-right: 8px;
    padding-bottom: 0;
  }
}

.top-kv-title-accent {
  // font-size: 34px;
  font-size: clamp(2.125rem, 1.632rem + 2.075vw, 3.5rem);
  padding-right: 4px;
  @include g.mq(sm-md) {
    // font-size: 56px;
    padding-right: 5px;
  }
}

.top-kv-title-sp-hidden {
  display: none;
  @include g.mq(sm-md) {
    display: inline;
  }
}
.top-kv-title-sub {
  display: block;
  padding-top: 2px;
  @include g.mq(sm-md) {
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

// バッチ部分
.top-kv-text-items {
  width: fit-content; // バッチの幅を合わせる
  display: flex;
  flex-direction: column;
  gap: 4px;
  @include g.mq(sm-md) {
    flex-direction: row;
    gap: 12px;
  }
}
.top-kv-text-item {
  background-color: var(--white);
  border: 2px solid var(--primary-green);
  border-radius: 6px;
  padding: 8px 18px 8px 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  align-items: center;

  @include g.mq(sm-md) {
    padding: 6px 18px 6px 14px;
    width: fit-content;
    font-size: 18px;
  }
  &::before {
    content: "";
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--primary-light-green);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 9px;
  }
  &--remote::before {
    background-image: url("../img/top/icon-pc.svg");
  }

  &--beginner::before {
    background-image: url("../img/top/icon-beginner.svg");
  }

  p {
    flex: 1;
    text-align: center;
    letter-spacing: 0;
  }
}

.top-kv-text-item--remote strong {
  display: block;
  @include g.mq(sm-md) {
    display: inline;
  }
}

.top-kv-text-item--beginner span {
  display: block;
  @include g.mq(sm-md) {
    display: inline;
  }
}

// 人物イメージ
.top-kv-image {
  width: clamp(13.188rem, 8.42rem + 20.074vw, 16.563rem);
  aspect-ratio: 211 / 413;
  position: absolute;
  bottom: 0;
  right: 0;

  @include g.mq(sm-md) {
    width: 200px;
  }

  @include g.mq() {
    width: clamp(26.25rem, 23.536rem + 5.655vw, 28.625rem);
    aspect-ratio: 1 / 1;
    right: 30px;
  }

  @include g.mq(xl) {
    right: 159px;
  }
}

.top-kv-image img {
  height: 100%;
  object-fit: cover;
}

// トップページ用検索バー_コンテナ
.top-kv-search-bar {
  margin-top: -80px;
  z-index: var(--z-index-contents);
  position: relative;
  @include g.mq() {
    margin-top: -49px;
  }
}
