@use "../../global" as g;

/*!
page > top > top-search
------------------------------
*/
.top-search-container {
  margin-bottom: 64px;
}

.top-search-job-category-nav,
.top-search-area-nav {
  margin-top: 24px;
  @include g.mq() {
    margin-top: 32px;
  }
}

// 職種
.top-search-job-category-list {
  display: grid;
  gap: 8px;
  @include g.mq() {
    grid-template-columns: repeat(3, 1fr);
  }
}

.top-search-job-category-list li {
  width: 100%;
  min-width: 0; /* グリッド子要素の縮小を許可 */
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--border);
}

.top-search-job-category-list li a {
  display: block;
  width: 100%;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include g.hover-color(var(--primary-green));
  @include g.mq() {
    font-size: 18px;
  }
}

// 地域
.top-search-area-nav {
  background-color: var(--white);
  border-radius: 16px;
  padding: 40px;
}

.top-search-area-list {
  display: grid;
  grid-template-rows: repeat(4, auto); // 4行指定
  grid-auto-flow: column; // 縦方向(列)に配置
  gap: 40px;
}

.top-search-area-region {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-green);
  margin-bottom: 40px;
  @include g.mq() {
    font-size: 18px;
  }

  > a {
    @include g.hover-underline-scale(var(--primary-green));
  }
}

.top-search-area-prefectures {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 24px; // 行間 列間
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--font-base);
  @include g.mq() {
    font-size: 16px;
  }

  li {
    @include g.hover-underline-child(var(--font-base), "a");
  }
}

// 雇用・タグ
.top-search-employment-tag-text {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-green);
  margin-top: 24px;
}

.top-search-employment-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 32px;
  margin-top: 8px;
  font-size: 16px;
  @include g.mq() {
    font-size: 18px;
  }

  li {
    @include g.hover-underline-child(var(--font-base), "a");
  }
}

.top-search-tag-list li a {
  width: 100%;

  &::before {
    content: "#";
    display: inline-block;
    width: 10px;
    height: 26px;
    margin-right: 3px;
    @include g.mq() {
      width: 11px;
      height: 29px;
      margin-right: 4px;
    }
  }
}
